@import _variables

body
	font-family: 'Chivo', sans-serif
	overflow-y: hidden

.text-white
	color: #fff

.text-black
	color: #000

#menuContent
	font-family: 'Chivo', sans-serif
	font-size: 1.2rem




    
    