

.center-logo
	margin: auto
	width: 50%
	text-align: center
	font-size: 5.0rem

.flex-center
	align-items: center
	height: 50vh
	display: flex
	justify-content: center

.separated
	padding-left: 2.0rem
